<div class="page-title">
    <h1>PLACE HOLDER</h1>   
</div>

<div class="content-container">
    <div class="main-content-wrapper">
        <div class="main">
            <div class="filter-form-container">
                <form action="/" method="GET">
                    <div class="search-content-wrapper">
                        <input type="text" class="inputText" name="title" value="<% searchOpt.title %>" placeholder="Search Anime...">
                        <button type="submit" class="submitButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    
                    <%- include('partials/input.ejs') %>
                    <button class="filterButton" type="submit">Filter</button>
                </form>
            </div>

            <div class="anime-list-container">
                <% anime.forEach(anime => { %>
                    <div class="anime-block">
                        <div class="anime-info-preview">
                            <div class="anime-title-preview">
                                <div class="anime-title">
                                    <h2 class="anime-title-text"><%= anime.title %></h2>
                                </div>
                            </div>
                            <div class="genre-info-preview">
                                <div class="genre-info-inner">
                                    <% anime.genre.forEach(genre => { %>
                                        <span> <%= genre %> </span>
                                    <% }) %>
                                </div>
                            </div>
                            <div class="theme-info-preview">
                                <div class="genre-info-inner">
                                    <% anime.theme.forEach(theme => { %>
                                        <span> <%= theme %> </span>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                        <div class="anime-image">
                            <% if (locals.user && locals.user.role == 'admin') { %>
                                <a href="/anime/<%= anime.id%>"> <img src="<%= anime.coverImagePath %>"> </a>
                            <% } else { %>
                                <img src="<%= anime.coverImagePath %>">
                            <% } %>
                        </div>
                    </div>
                <% }) %> 
            </div>
        </div>
    </div>

    <div class="pag-container">
        <div class="pagination">
            <p>Pagination place holder</p>
        </div>
        
    </div>
</div>

<% if (locals.user) { %>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
<% } %>