<h2>
    <%= anime.title %>
</h2>
<img width="100" height="150" src="<%= anime.coverImagePath %>">
<div>Genre:
    <% for(let i = 0; i < anime.genre.length; i++ ) { %>
        <%if (i != anime.genre.length - 1){%>
            <%= anime.genre[i] %>,
                <%}else {%>
                    <%= anime.genre[i] %>
                        <% }}%>
</div>
<!-- if theme != "" -->
<div>
    <% if (anime.theme !== "") {%>
        Theme:
        <% for(let i =0; i <anime.theme.length; i++){ %>
            <%if (i != anime.theme.length - 1){%>
                <%= anime.theme[i] %>,
                    <%}else{%>
                        <%= anime.theme[i] %>
                            <%}   %>
                                <%}  %>
                                    <% } %>
</div>

<a href="/anime/<%= anime.id %>/edit">Edit</a>
<form method="POST" action="/anime/<%=anime.id%>?_method=DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>